<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jz.table.dao.UserDao">
    <select id="findall" resultType="com.jz.table.entity.UserInfo">
      select * from userinfo
  </select>

    <insert id="adduser"  parameterType="com.jz.table.entity.UserInfo">
       INSERT INTO userinfo(name,age,sex) VALUES (#{name},#{age},#{sex})
    </insert>

    <select id="findByid" parameterType="java.lang.Integer" resultType="com.jz.table.entity.UserInfo">
      SELECT  * FROM userinfo where id = #{id}
    </select>

    <update id="updateUser" parameterType="com.jz.table.entity.UserInfo">
      update  userinfo SET name=#{name },age =#{age},sex=#{sex} WHERE id = #{id}
    </update>

    <delete id="delUser" parameterType="java.lang.Integer">
     DELETE from userinfo WHERE id = #{id}
    </delete>
</mapper>